{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<title>
    {% block title %}
    {% endblock %}
</title>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'project_index' %}">Projects</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Issues</a>
                </li>

                {% block menu %}

                {% endblock %}
                {% if user.is_authenticated %}
                {% if perms.tracker.add_project %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'project_create' %}">Create Project</a>
                </li>
                {% endif %}
                {% if perms.tracker.change_issue %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'issue_create' %}">Create Issue</a>
                </li>
                {% endif %}
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Logout">
                    </form>
                </li>
                <li>
                    Hi, {{ user.username }}
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
                </li>
                <li>
                    <a href="{% url 'register' %}" class="btn btn-primary">Sign up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>


